body {
    background-color: black;
    color: white;
    font-family: "Savate", sans-serif;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin: 0px;
}

header {
    padding: 20px;
    border-bottom: 3px solid rgb(42, 122, 228);
}

h1 {
    font-size: 30px;
}
section{
    background-color:rgb(red, green, blue) 184, 156, 213;
    padding-bottom: 80;
    pointer-events: 80;
    display - flex: 
    justify. content: center;
}